# Exercise 2: Notebook Title
# Title: Data Science Tools and Ecosystem

# Exercise 3: Introduction
Introduction:
This notebook presents an overview of basic data science concepts, including languages, libraries, and tools. It also includes examples of arithmetic expressions and unit conversions.

# Exercise 10: Objectives
# **Objectives:**

1. Learn the basics of data science
2. List popular languages for Data Science
3. List popular libraries for Data Science
4. Become familiar with data science tools and libraries
5. Demonstration with examples of arithmetic expressions and unit conversions.

# Exercise 4: Data Science Languages
Some Data Science Languages:
1. Python
2. R
3. SQL
4. Scala
5. Julia

# Exercise 5: Data Science Libraries
Some Data Science Libraries:
1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Seaborn
6. TensorFlow
7. Ggplot2

# Exercise 6: Data Science Tools Table

| Data Science ToolAS|
|---|
| Jupyter Notebook |
| RStudio |
| Apache Spark |
| Tableau |
| TensorFlow |

# Exercise 7: Examples of Arithmetic Expressions
#Examples of Arithmetic Expressions:
* 1 + 2 = 3
* 8 - 2 = 6
* 5 * 4 = 20
* 10 / 2 = 5

In [28]:
# Exercise 8: Multiply and Add Numbers
(3*4)+5
#This is a simple arithmetic expression for multiplying and then adding integers.

17

In [30]:
#Exercise 9: Convert Minutes to Hours
200/60
#This will convert 200 minutes to hours by dividing by 60.

3.3333333333333335

# Exercise 11: Author Name
## Author: 
Bastian Lasnibat

In [ ]:
# Exercise 12: Share on GitHub
# (Instructions: Upload this notebook to your GitHub repository)

# Exercise 13: Screenshot
# (Instructions: Take a screenshot of the first page of this notebook)